{% extends 'base.html' %}
{% block content %}
<head>
{% load static %}
<style>
    .main{
        display: inline-flex;
        background-color: gray;
        margin-bottom: 30px;
        margin-top: 10px;
    }

</style>
<title>Detection</title>
</head>

<div class="main">
<div class="dropdown my-4 mx-5 " id='sub1'>
    <a href="/faceDet" >
<button type="button" class="btn btn-success btn- btn-lg " style="width: 400px;">SingleFace Detection</button></a><br><br>
<a href="#">
  <button type="button" class="btn btn-success btn-lg" style="width: 400px;">MultiFace Detection</button></a><br><br>
  
  <a href="/VideoImotionDetect">
<button type="button" class="btn btn-success btn-lg" style="width: 400px;">Video Detection</button></a><br><br>
<a href="/imotionDetection">
<button type="button" class="btn btn-success btn-lg" style="width: 400px;">WebCam Detection</button></a><br><br>
  </div>
  <div class="sub2">
          <img src="static/images/babygif.gif" width="850px" height="600px" />

  </div>
  </div>
{% endblock %}